#container {
    background: #666 url(/img/ej03_tree.jpg) no-repeat -60px 0;
    width: 420px;
    height: 480px;
    position: relative;
}

.coponieve {
    color: #fff;
    font-size: 20px;
    position: absolute;
    background: repeat;
    
}

.a1 {
    left: 40px;
    animation: nevada 5s linear 2s infinite, lol 2s ease-in-out 2s infinite ;
}

.a2 {
     left: 120px;
     animation: nevada 6s linear 2s infinite, lol 2s ease-in-out 2s infinite;
    
}

.a3 {
    left: 200px;
    animation: nevada 7s linear 2s infinite, lol 2s ease-in-out 2s infinite ;
}
.a4 {
    left: 280px;
    animation: nevada 8s linear 2s infinite, lol 2s ease-in-out 2s infinite ;
}

@keyframes nevada {
    0%{
        top: 0%;
        
    }

    50%{
        opacity: 1;
    }

    100%{
        top: 100%;
        opacity: 0;
}
}

@keyframes lol {
    0%{
        transform: translateX(-5px);
    }

    33%{
        transform: translateX(0px);
    }

    66%{
        transform: translateX(5px);
    }

    100%{
        transform: translateX(0px);
    }
    
}