
.box-001,
.box-002 {
    padding: 10px;
    margin: 20px;
    display: flex;
}

.cuadrado {
    background-color: #eee;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width: 160px;
    color: rgb(36, 36, 36);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    box-shadow: -5px -5px rgb(124, 124, 124);
   
}

.b {
    box-shadow: -5px -5px 10px grey;
}

.c {
    
    box-shadow: -5px -5px 0px 5px  rgb(124, 124, 124)
}

.d {
   box-shadow: -5px -5px 5px 3px rgb(82, 81, 81) ;
 
}

.e {
    box-shadow: 0px 0px 7px -1px rgb(82, 81, 81) ;
}

.f {
    box-shadow: -1px -1px 5px 5px rgb(82, 81, 81)
}

.g {
    box-shadow: -6px -8px 0px 0px grey inset;
}

.h {
    box-shadow: -6px -8px 5px 0px grey inset;
}
.i {
    box-shadow: -8px -10px 0px 0px grey inset;
}

.j {
    box-shadow: -8px -7px 7px 6px grey inset;
}

.k {
    box-shadow: -1px -1px 7px 1px grey inset;
}

.l {
    box-shadow: -1px -1px 4px 6px gray inset;
}

